{% extends 'layout.html.jinja2' %}

{% set image = request.build_absolute_uri(static('ftatr/images/logo.png')) %}
{% block og_title %}Designers{% endblock %}
{% block og_url %}{{ request.build_absolute_uri(url('designer:index')) }}{% endblock %}
{% block og_image %}{{ image }}{% endblock %}
{% block twitter_title %}Designers{% endblock %}
{% block twitter_image %}{{ image }}{% endblock %}

{% block nav %}
    {{ nav('designer:index') | safe }}
{% endblock %}

{% block content %}
    {% for letter, designers in alphabet.items() %}

        <a href="{{ url('designer:index') }}#{{ letter }}"
           id="{{ letter }}"
           class="index-entry-title {% if not designers %}empty{% endif %}">
            {{ letter }}
        </a>

        {% if designers %}
            <div class="index-entry-list">
                {% for designer in designers %}
                    {% if loop.index % 2 %}
                        <div class="clear"></div>
                    {% endif %}
                    <div class="item item-{% if loop.index % 2 %}left{% else %}right{% endif %}">
                        <div class="item-picture">
                            {% if designer.portrait %}
                            <img src="{{ designer.portrait | thumbnail_url('50x50') }}"
                                 alt="{{ designer.full_name }}"/>
                            {% else %}
                                <i class="fa fa-question"></i>
                            {% endif %}
                        </div>
                        <div class="item-text">
                            <a href="{{ url('designer:show', slug=designer.slug) }}">
                                {{ designer.full_name }}
                                {% set nb_rocking_chairs = designer.published_rocking_chairs.count() %}
                                ({{ nb_rocking_chairs }} chair{% if nb_rocking_chairs > 1 %}s{% endif %})
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="clear"></div>

    {% endfor %}
{% endblock %}
