{% extends 'layout.html.jinja2' %}

{% block nav %}
    {{ nav('designer:index') | safe }}
{% endblock %}

{% block content %}

    <div class="clear"></div>

    <div id="{{ designer.slug }}">
        <div class="single-title">
            <div class="single-picture">
                {% if designer.portrait %}
                    <img src="{{ designer.portrait | thumbnail_url('540x540') }}"
                         alt="{{ designer.full_name }}"/>
                {% else %}
                    <i class="unknown fa fa-question"></i>
                {% endif %}
            </div>
        </div>

        <div class="single-attributes">
            <ul class="attributes attributes-left">
                <li>
                    <div class="title">
                        <a href="{{ url('designer:show', slug=designer.slug) }}#{{ designer.slug }}">
                            {{ designer.full_name }}
                        </a>
                    </div>
                </li>
                <li>
                    <div class="attribute">
                        <div class="attribute-value">
                            {% set share_url = request.build_absolute_uri(url('designer:show', slug=designer.slug))|urlencode %}
                            <a href="https://twitter.com/intent/tweet?url={{ share_url }}&via=RChairAnthology&text={{ designer.full_name }}">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="https://www.facebook.com/dialog/share?href={{ share_url }}&app_id={{ FACEBOOK_APP_ID }}&redirect_uri={{ share_url }}#{{ designer.slug }}&display=popup">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="//www.pinterest.com/pin/find/?url={{ share_url }}" target="_blank">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </div>
                        <div class="attribute-name">
                            Share on
                        </div>

                    </div>
                </li>
            </ul>
            <ul class="attributes attributes-right">
                {% for country in designer.nationalities.all() %}
                    <li>
                        <div class="attribute">
                            <div class="attribute-value">
                                {{ country.name }}
                            </div>
                            <div class="attribute-name">
                                Nationality
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% if designer.birthday  %}
                    <li>
                        <div class="attribute">
                            <div class="attribute-value">
                                {{ designer.birthday.year }}
                            </div>
                            <div class="attribute-name">
                                Birth
                            </div>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="clear"></div>

    <div class="single-related">
        {% for rocking_chair in designer.published_rocking_chairs %}
            {% if loop.index % 2 %}
                <div class="clear"></div>
            {% endif %}
            <div class="item item-{% if loop.index % 2 %}left{% else %}right{% endif %}">
                <div class="item-picture">
                    <img src="{{ rocking_chair.pictures.first().picture | thumbnail_url('50x50') }}"
                         alt="{{ rocking_chair.name }}"/>
                </div>
                <div class="item-text">
                    <a href="{{ url('rocking_chair:show', slug=rocking_chair.slug) }}">
                        {{ rocking_chair.build_title(designers=False) }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="clear"></div>

    <div class="paginate">
        <a href="{{ url('designer:index') }}">
            view all
        </a>
    </div>
{% endblock %}
