{% extends 'layout.html.jinja2' %}

{#{% set image = request.build_absolute_uri(static('ftatr/images/factory-icon-500x350.png')) %}#}
{#{% block og_title %}Manufacturers{% endblock %}#}
{#{% block og_url %}{{ request.build_absolute_uri(url('manufacturer:index')) }}{% endblock %}#}
{#{% block og_image %}{{ image }}{% endblock %}#}
{#{% block twitter_title %}Manufacturers{% endblock %}#}
{#{% block twitter_image %}{{ image }}{% endblock %}#}

{% block nav %}
    {{ nav('analytics:index') | safe }}
{% endblock %}

{% block content %}

    <div style="text-align: center; font-variant: small-caps">
        Coming soon
    </div>

{% endblock %}
