[submodule "ftatr/static/ftatr/Font-Awesome"]
	path = ftatr/static/ftatr/vendor/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "ftatr/static/ftatr/bootstrap"]
	path = ftatr/static/ftatr/vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "ftatr/static/ftatr/TouchSwipe-Jquery-Plugin"]
	path = ftatr/static/ftatr/vendor/TouchSwipe-Jquery-Plugin
	url = https://github.com/mattbryson/TouchSwipe-Jquery-Plugin.git
[submodule "ftatr/static/ftatr/vendor/django-dynamic-formset"]
	path = ftatr/static/ftatr/vendor/django-dynamic-formset
	url = https://github.com/elo80ka/django-dynamic-formset.git
