{% extends 'ftatr/layout.html.jinja2' %}

{% block content %}
    {% if rocking_chairs.has_previous() %}
        <a href="{{ url('index') }}?page={{ rocking_chairs.previous_page_number() }}"
           class="paginate">
            previous<br>
            <span class="count">
                {{ rocking_chairs.start_index() - 1 }} more
            </span>
        </a>
    {% endif %}

    {% for rocking_chair in rocking_chairs %}
        {% include 'ftatr/single.html.jinja2' %}
    {% endfor %}

    {% if rocking_chairs.has_next() %}
        <div class="clear"></div>
        <a href="{{ url('index') }}?page={{ rocking_chairs.next_page_number() }}"
           class="paginate">
            next<br>
            <span class="count">
                {{ paginator.count - rocking_chairs.end_index() }} more
            </span>
        </a>
    {% endif %}
{% endblock %}
