{% extends 'ftatr/layout.html.jinja2' %}

{% block content %}
    {% if rocking_chairs.has_previous() %}
        <div class="paginate previous">
            <a href="{{ url('rocking-chair-index') }}?page={{ rocking_chairs.previous_page_number() }}">
                previous<br>
            </a>

            <div class="count">
                {{ rocking_chairs.start_index() - 1 }} more
            </div>
        </div>
    {% endif %}

    {% for rocking_chair in rocking_chairs %}
        {% include 'ftatr/single.html.jinja2' %}
    {% endfor %}

    {% include 'ftatr/clipping.html.jinja2' %}

    {% if rocking_chairs.has_next() %}
        <div class="clear"></div>
        <div class="paginate next">
            <a href="{{ url('rocking-chair-index') }}?page={{ rocking_chairs.next_page_number() }}">
                next<br>
            </a>

            <div class="count">
                {{ paginator.count - rocking_chairs.end_index() }} more
            </div>

        </div>
    {% endif %}
{% endblock %}
