<!DOCTYPE html>
<html>
<head>
    <title>For Those About To Rock</title>

    {% block stylesheets %}
        <style type=""></style>
{#        <link rel="stylesheet" type="text/css" href="{{ static('ftatr/fonts/static/static.css') }}">#}
        <link rel="stylesheet" type="text/css" href="{{ static('ftatr/css/main.css') }}">
{#        <link rel="stylesheet" type="text/css" href="assets/css/font-awesome-4.2.0/css/font-awesome.css">#}
{#        <link rel="stylesheet" type="text/css" href="assets/css/main.css">#}
    {% endblock stylesheets %}
</head>
<body>
{% block body %}

    <header>
        <h1>For those about to rock</h1>

        <p>A rocking chair anthology</p>
    </header>
    {% block content %}
    {% endblock %}
    <div class="clear"></div>

    <footer>
        <div class="footer-content">
            <p>
                For Those About To Rock is made and maintained by me, <a href="http://hexagonal.io">Jeremy Morel</a>.<br>
                The source code is open and available at <a href="http://github.com">GitHub</a>. <br>
                If you like this website, please feel free to <a href="">tip</a>, I could use another rocking chair.
            </p>
            <a href="http://hexagonal.io" class="hexagonal-link">
                <img src="{{ static('ftatr/images/hexagonal-logo.png') }}">
            </a>
        </div>
    </footer>
{% endblock %}
</body>
</html>