<!DOCTYPE html>
<html>
<head>
    <title>For Those About To Rock</title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ static('ftatr/css/Font-Awesome/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ static('ftatr/css/main.css') }}">
        {% block inner_stylesheets %}
        {% endblock %}
    {% endblock stylesheets %}
</head>
<body>
{% block body %}

    <header>
        <h1>For those about to rock</h1>

        <p>A rocking chair anthology</p>
    </header>

    {% block content %}
    {% endblock %}

    <div class="clear"></div>

    <footer>
        <div class="footer-content">
            <p>
                For Those About To Rock is made and maintained by me, <a href="http://hexagonal.io">Jeremy Morel</a>.<br>
                The source code is open and available at <a href="http://github.com">GitHub</a>. <br>
                If you like this website, please feel free to <a href="">tip</a>, I could use another rocking chair.
            </p>
            <a href="http://hexagonal.io" class="hexagonal-link">
                <img src="{{ static('ftatr/images/hexagonal-logo.png') }}">
            </a>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {# analytics tracking #}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55571533-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% block inner_javascripts %}
    {% endblock %}
{% endblock %}
</body>
</html>