{% from 'ftatr/single_macros.html.jinja2' import include_links %}

<div class="clear"></div>
<article class="rocking-chair">
    <div class="pictures" style="background-image: url('{{ rocking_chair.picture }}')">
        {% for picture in rocking_chair.pictures.all() %}
            <img src="{{ picture.picture.url }}" alt="{{ rocking_chair.name }}"/>
        {% endfor %}
    </div>

    <ul class="attributes attributes-left">
        <li>
            <div class="rocking-chair-name">{{ rocking_chair.name }}</div>
        </li>
        {% if rocking_chair.year %}
            <li>
                <div class="attribute">
                    {{ include_links(rocking_chair.year_links.all(), reverse=True) }}
                    <div class="attribute-value">
                        {{ rocking_chair.year }}
                    </div>
                    <div class="attribute-name">
                        Year
                    </div>
                </div>
            </li>
        {% endif %}
    </ul>
    <ul class="attributes attributes-right">
        {% for designer in rocking_chair.designers.all() %}
            <li>
                <div class="attribute">
                    {{ include_links(rocking_chair.designer_links.filter(designer=designer)) }}
                    <div class="attribute-value">
                        {{ designer.first_name }} {{ designer.last_name }}
                    </div>
                    <div class="attribute-name">
                        Designer
                    </div>
                </div>
            </li>
        {% endfor %}
        {% for manufacturer in rocking_chair.manufacturers.all() %}
            <li>
                <div class="attribute">
                    {{ include_links(rocking_chair.manufacturer_links.filter(manufacturer=manufacturer)) }}
                    <div class="attribute-value">
                        {{ manufacturer.name }}
                    </div>
                    <div class="attribute-name">
                        Manufacturer
                    </div>
                </div>
            </li>
        {% endfor %}
        {% if rocking_chair.price %}
            <li>
                <div class="attribute">
                    {{ include_links(rocking_chair.price_links.all()) }}
                    <div class="attribute-value">
                        {{ rocking_chair.price.amount | round(0) }} {{ rocking_chair.price.currency.code }}
                    </div>
                    <div class="attribute-name">
                        Price
                    </div>
                </div>
            </li>
        {% endif %}
    </ul>
</article>