{% macro include_links(links, reverse=False) %}
    {% if links | length %}
        <div class="attribute-links">
            {% for link in links %}
                <a href="{{ link.url }}" class="attribute-link">
                    {% if reverse %}
                        <i class="fa fa-external-link fa-flip-horizontal"></i>
                    {% else %}
                        <i class="fa fa-external-link"></i>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}