{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a
            href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {% trans 'Timeline' %}
    </div>
{% endblock %}

{% block content %}
    <div id="content-main" class="inner-two-columns">

        <div class="inner-right-column">
            <h2>Unscheduled</h2>

            <div class="box">
                <ul>
                    {% for rocking_chair in unscheduled %}
                        <li>
                            <a href="{% url 'admin:anthology_rockingchair_change' rocking_chair.id %}">
                                {{ rocking_chair.name }}
                            </a>
                            (<a href="{% url 'rocking_chair:show' rocking_chair.slug %}">view</a>)
                        </li>
                        {% empty %}
                        <li>None</li>
                    {% endfor %}
                </ul>
                <p>
                    <a href="{% url 'admin:anthology_rockingchair_add' %}" class="btn btn-success">
                        <i class="icon-plus-sign icon-white"></i>
                        New rocking chair
                    </a>
                </p>
            </div>
        </div>

        <div class="inner-center-column">
            <h2>
                Timeline
            </h2>
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Rocking chair</th>
                </tr>
                </thead>
                <tbody>
                {% for day, rocking_chairs in timeline.items %}
                    <tr>
                        <td {% if day == today %}style="border: 2px solid green;border-right-width: 0;"{% endif %}>
                            {% if day == today %}
                                <strong>Today</strong>
                            {% else %}
                                {{ day | date:'Y-m-d' }}
                            {% endif %}
                        </td>
                        {% for rocking_chair in rocking_chairs %}
                            <td {% if day == today %}style="border-top: 2px solid green; border-bottom: 2px solid green"{% endif %}>
                                {{ rocking_chair.published_at | date:'H:i' }}
                            </td>
                            <td {% if day == today %}style="border: 2px solid green; border-left: 0"{% endif %}>
                                <a href="{% url 'admin:anthology_rockingchair_change' rocking_chair.id %}">{{ rocking_chair.title }}</a>
                                (<a href="{% url 'rocking_chair:show' rocking_chair.slug %}">view</a>)
                            </td>
                            {% empty %}
                            <td {% if day == today %}style="border-top: 2px solid green; border-bottom: 2px solid green"{% endif %}>
                            <td {% if day == today %}style="border: 2px solid green; border-left: 0"{% endif %}>
                        {% endfor %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
