@media (max-width: 599px) {
  .attributes-container {
    margin-top: 15px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .attributes-container:before {
    content: '';
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 15px) center top no-repeat;
  }
  .attributes-container:after {
    content: '';
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 15px) center bottom no-repeat;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .attributes-container {
    margin-top: 30px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .attributes-container:before {
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 30px) center top no-repeat;
  }
  .attributes-container:after {
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 30px) center bottom no-repeat;
  }
}
@media (min-width: 900px) {
  .attributes-container {
    margin-top: 30px;
  }
}
ul.attributes {
  display: block;
  margin: 0;
  list-style: none;
  padding: 0;
}
@media (min-width: 900px) {
  ul.attributes {
    max-width: 50%;
  }
  ul.attributes.attributes-left {
    float: right;
    right: 50%;
    text-align: right;
    margin-right: 15px;
  }
  ul.attributes.attributes-right {
    float: left;
    left: 50%;
    text-align: left;
    margin-left: 15px;
  }
}
ul.attributes li {
  display: block;
  margin-bottom: 15px;
}
@media (max-width: 899px) {
  ul.attributes li {
    text-align: center;
  }
}
ul.attributes .title {
  font-size: 2.3rem;
  line-height: 1em;
}
ul.attributes .title a {
  color: inherit;
}
ul.attributes .title a:hover {
  text-decoration: underline;
}
ul.attributes .attribute {
  display: inline-block;
}
ul.attributes .attribute-tag {
  font-size: 0.5rem;
  background-color: #7f8000;
  color: yellow;
  padding: 0.2em 0.4em;
}
ul.attributes .attribute-name {
  font-size: 0.5rem;
  background-color: #7f8000;
  color: yellow;
  padding: 0.2em 0.4em;
  margin-top: -0.2em;
}
ul.attributes .attribute-value {
  line-height: 1em;
  z-index: 1;
}
@media (max-width: 599px) {
  ul.attributes .attribute-value {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  ul.attributes .attribute-value {
    font-size: 1.4rem;
  }
}
@media (min-width: 900px) {
  ul.attributes .attribute-value {
    font-size: 1.5rem;
  }
}
ul.attributes .attribute-links {
  font-size: 0.6rem;
}
@media (max-width: 899px) {
  ul.attributes .attribute-links {
    padding-top: 0.5em;
  }
}
@media (min-width: 900px) {
  ul.attributes .attribute-links {
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: top;
  }
}
ul.attributes .attribute-links a {
  color: #7f8000;
  text-decoration: none;
}
ul.attributes .attribute-links a:hover {
  color: #333333;
}
