@import 'variables';

.semi-transparent-background(@top-length, @bottom-length) {
    background-color: @yellow-transparent;

    &:before {
        content: '';
        display: block;
        height: @top-length;
        width: 100%;
        position: absolute;
        top: -@top-length;
        left: 0;
        background: linear-gradient(transparent 0, @yellow-transparent @top-length) center top no-repeat,
    }

    &:after {
        content: '';
        display: block;
        height: @bottom-length;
        width: 100%;
        position: absolute;
        bottom: -@bottom-length;
        left: 0;
        background: linear-gradient(@yellow-transparent 0, transparent @bottom-length) center bottom no-repeat;
    }
}

.white-ellipsish-background(@radius) {
    background-image: radial-gradient(
            ellipse 70% @radius at center top 2*@radius,
            @white 0%, @white 99%, transparent 99%, transparent),
    linear-gradient(to bottom,
            transparent, transparent 1.5*@radius,
            white 1.5*@radius, white 55%,
            transparent 55%, transparent),
    linear-gradient(to top,
            transparent, transparent @radius,
            white @radius, white 55%,
            transparent 55%, transparent),
    radial-gradient(
            ellipse 70% @radius at center bottom @radius,
            @white 0%, @white 99%, transparent 99%, transparent);
    background-repeat: no-repeat;
}

.white-ellipsish-border(@radius) {
    background-image: radial-gradient(
            ellipse 70% @radius at center top 2*@radius,
            @yellow 0%, @yellow 99%, transparent 99%, transparent),
    radial-gradient(
            ellipse 70% @radius at center top @radius,
            @white 0%, @white 99%, transparent 99%, transparent),
    linear-gradient(to bottom,
            transparent, transparent 1.5*@radius,
            @yellow 1.5*@radius, @yellow 55%,
            transparent 55%, transparent),
    linear-gradient(to top,
            transparent, transparent @radius,
            @yellow @radius, @yellow 55%,
            transparent 55%, transparent),
    radial-gradient(
            ellipse 70% @radius at center bottom @radius,
            @white 0%, @white 99%, transparent 99%, transparent);
    background-repeat: no-repeat;

}
