{% extends 'layout.html.jinja2' %}

{#{% set image = request.build_absolute_uri(rocking_chairs[0].pictures.first().picture | thumbnail_url('540x540')) %}#}
{#{% block og_image %}{{ image }}{% endblock %}#}
{#{% block twitter_image %}{{ image }}{% endblock %}#}

{% block nav %}
    {{ nav('manufacturer:index') | safe }}
{% endblock %}

{% block content %}
    {% for letter, manufacturers in alphabet.items() %}

        <div class="round-link-centered {% if manufacturers %}active{% endif %}" id=""{{ letter }}>
            <a href="{{ url('manufacturer:index') }}#{{ letter }}">
                {{ letter }}
            </a>
        </div>

        {% if manufacturers %}
            <div class="round-item-list no-margin">
                {% for manufacturer in manufacturers %}
                    {% if loop.index % 2 %}
                        <div class="clear"></div>
                    {% endif %}
                    <div class="item item-{% if loop.index % 2 %}left{% else %}right{% endif %}">
                        <div class="item-picture">
                            <img src="{{ manufacturer.logo.picture | thumbnail_url('50x50') }}"
                             alt="{{ manufacturer.name }}"/>
    {#                        <img src="{{ rocking_chair.pictures.first().picture | thumbnail_url('50x50') }}"#}
                        </div>
                        <div class="item-text">
                            <a href="{{ url('manufacturer:show', slug=manufacturer.slug) }}">
                                {{ manufacturer.name }}
                                {% set nb_rocking_chairs = manufacturer.published_rocking_chairs|length %}
                                ({{ nb_rocking_chairs }} chair{% if nb_rocking_chairs > 1 %}s{% endif %})
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="clear"></div>

    {% endfor %}
{% endblock %}
