<p>
    {{ rocking_chair.name }}
</p>

<ul>
    {% for designer in rocking_chair.designers.all() %}
        <li>
            Designer:
            <a href="{{ url('designer:show', slug=designer.slug) | absolute }}">{{ designer.full_name }}</a>
        </li>
    {% endfor %}
    {% for manufacturer in rocking_chair.manufacturers.all() %}
        <li>
            Manufacturer:
            <a href="{{ url('manufacturer:show', slug=manufacturer.slug) | absolute }}">{{ manufacturer }}</a>
        </li>
    {% endfor %}
    {% if rocking_chair.year %}
        <li>
        Year:
        <a href="{{ url('rocking_chair:index-by-year') | absolute }}#{{ rocking_chair.year }}">{{ rocking_chair.year }}</a>
        </li>
    {% endif %}
    {% if rocking_chair.price %}
        <li>
            Price: {{ rocking_chair.price }}
        </li>
    {% endif %}
</ul>

{% for picture in rocking_chair.pictures.all() %}
    <img src="{{ picture.picture | thumbnail_url('540x540') }}" alt="{{ rocking_chair.name }}"/>
{% endfor %}
