{% extends 'layout.html.jinja2' %}

{% set image = request.build_absolute_uri(rocking_chairs[0].pictures.first().picture | thumbnail_url('540x540')) %}
{% block og_image %}{{ image }}{% endblock %}
{% block twitter_image %}{{ image }}{% endblock %}

{% block content %}
    {% if rocking_chairs.has_previous() %}
        <div class="paginate previous">
            <a href="{{ url('rocking_chair:index') }}?page={{ rocking_chairs.previous_page_number() }}">
                previous<br>
            </a>

            <div class="count">
                {{ rocking_chairs.start_index() - 1 }} more
            </div>
        </div>
    {% endif %}

    {% for rocking_chair in rocking_chairs %}
        {% include 'rocking_chair/single.html.jinja2' %}
    {% endfor %}

    {% if rocking_chairs.has_next() %}
        <div class="clear"></div>
        <div class="paginate next">
            <a href="{{ url('rocking_chair:index') }}?page={{ rocking_chairs.next_page_number() }}">
                next<br>
            </a>

            <div class="count">
                {{ paginator.count - rocking_chairs.end_index() }} more
            </div>

        </div>
    {% endif %}
{% endblock %}
