{% extends 'layout.html.jinja2' %}

{% block content %}
    {% include 'rocking_chair/single.html.jinja2' %}

    <div class="clear"></div>

    <div class="paginate">
        <a href="{{ url('rocking_chair:index') }}">
            view all
        </a>
    </div>
{% endblock %}
