{% extends 'layout.html.jinja2' %}

{% block nav %}{% endblock %}

{% block content %}
    <h2>Help us fill the blanks in the rocking chair anthology</h2>
    <p>
        Do you know the {{ contribution_form.attribute.value() }}
        for the {{ contribution_form.target_type.value() }}
        {{ contribution_form.target_slug.value() }} ?
    </p>
    <p>
        Use the form below to provide us with the data and please include a source link (or many if you can), otherwise
        we won't consider your contribution.
    </p>
    <form action="" method="post">
        {{ contribution_form.as_p() }}

        <p>Please provide us with (at least) a source url for your contribution otherwise it won't be included.</p>
        {{ source_formset.non_form_errors() }}
        {{ source_formset.management_form.as_p() }}
        <div id="contribution-sources">
            {% for form in source_formset %}
                {{ form.as_p() }}
            {% endfor %}
        </div>
        {% csrf_token %}
        <input type="submit" value="submit"/>
    </form>
{% endblock %}

{% block javascripts %}
    {{ super() }}

    <script type="text/javascript">
        $(function() {
            $('#contribution-sources').formset({
                prefix: 'sources'
            })
        })();
    </script>
{% endblock %}