{% if not request.is_ajax() %}
    {% extends 'layout.html.jinja2' %}

    {% block nav %}{% endblock %}
{% endif %}

{% block content %}
    <h2>Thank you!</h2>
    <p>Your contribution has been saved. An admin will now review it and give a shoutout when the content is live.</p>
{% endblock %}
