{% macro contribution_id(target) %}{{ target.contribution_type }}-{{ target.slug }}{% endmacro %}

{% macro contribution_button(target) %}
    <span class="contribution__button" data-contribution="{{ contribution_id(target) }}">????</span>
{% endmacro %}

{% macro contribution(target) %}
    {% set form = contribution_form(target) %}

    <div class="contribution" id="contribution-{{ contribution_id(target) }}">
        <div class="contribution__backdrop"></div>
        <div class="contribution__modal">
            <div class="contribution__close">
                <i class="fa fa-close"></i>
            </div>
            <div class="contribution__content">
                <h2 class="contribution__title">Contribute!</h2>

                <p class="contribution__intro">
                    For Those About To Rock is still missing a lot of information. You can use the form below to submit
                    new details for {{ target }}.
                </p>

                <form method="post" class="contribution__form">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    {{ form.target_type|safe }}
                    {{ form.target_slug|safe }}

                    <div class="contribution__sender-error">Required</div>
                    <input id="id_sender"
                           class="contribution__sender"
                           maxlength="100"
                           name="sender"
                           type="text"
                           data-cip-id="id_sender"
                           placeholder="Tell me who you are and how I can write you back.">
                    {{ form.sender.errors }}

                    <div class="contribution__message-error">Required</div>
                    <textarea cols="40"
                              id="id_message"
                              name="message"
                              class="contribution__message"
                              rows="5"
                              placeholder="{{ "Your contribution.\n\nPlease provide source links to back your contribution." }}"></textarea>
                    {{ form.message.errors }}

                    <div class="contribution__recaptcha"></div>

                    <button type="submit" class="contribution__submit">
                        <i class="fa fa-send"></i>
                        Send
                    </button>
                </form>

                <div class="contribution__success">
                    <h3>
                        <i class="fa fa-thumbs-o-up"></i> Thank you!
                    </h3>

                    <p>
                        You contribution has been taken into account, I'll get down to it soon (and give you a shout-out
                        when it's done).
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function () {
            // contribution
            var contributionId = '{{ contribution_id(target) }}';
            var $contribution = $('#contribution-' + contributionId);
            // contribution elements
            var $contributionForm = $contribution.find('form');
            var $contributionSender = $contribution.find('input.contribution__sender');
            var $contributionSenderError = $contribution.find('.contribution__sender-error');
            var $contributionMessage = $contribution.find('textarea.contribution__message');
            var $contributionMessageError = $contribution.find('.contribution__message-error');
            var $contributionRecaptchaContainer = $contribution.find('.contribution__recaptcha');
            var $contributionIntro = $contribution.find('.contribution__intro');
            var $contributionSuccess = $contribution.find('.contribution__success');
            // recaptcha
            var recaptchaWidgetId;

            // helpers
            var resetContribution = function () {
                $contributionIntro.show();
                $contributionForm.show();
                $contributionSuccess.hide();
                $contributionSender.removeClass('contribution__sender--error');
                $contributionMessage.removeClass('contribution__message--error');
                $contributionSenderError.hide();
                $contributionMessageError.hide();
            };
            var resetContributionData = function () {
                $contributionForm.trigger('reset');
                if (typeof recaptchaWidgetId === 'undefined' || recaptchaWidgetId === null) {
                    recaptchaWidgetId = grecaptcha.render($contributionRecaptchaContainer.get(0), {'sitekey': '{{ settings_value('RECAPTCHA_SITE_KEY') }}'});
                } else {
                    grecaptcha.reset(recaptchaWidgetId);
                }
            };
            var contributionSuccess = function () {
                $contributionForm.hide();
                $contributionIntro.hide();
                $contributionSuccess.show();
            };
            var contributionErrors = function (data) {
                if (data.form_errors.sender) {
                    $contributionSender.addClass('contribution__sender--error');
                    $contributionSenderError.show();
                }
                if (data.form_errors.message) {
                    $contributionMessage.addClass('contribution__message--error');
                    $contributionMessageError.show();
                }
                if (!data.is_recaptcha_valid) {
                    $contributionRecaptchaContainer.find('iframe').addClass('contribution__recaptcha--error');
                }
            };

            $contribution.find('.contribution__close').on('click', function () {
                $contribution.hide();
                $('body').css({'overflow': 'initial'});
            });

            $("[data-contribution='" + contributionId + "']").on('click', function () {
                resetContribution();
                resetContributionData();
                $('body').css({'overflow': 'hidden'});
                $contribution.show();
            });

            $contribution.find('form').on('submit', function (event) {
                event.preventDefault();
                resetContribution();
                $.post('/contribution/', $contributionForm.serialize()).done(function (data) {
                    if (data.status == 'success') {
                        contributionSuccess();
                    } else {
                        contributionErrors(data);
                    }
                });
                return false;
            });
        })();
    </script>
{% endmacro %}
