<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}For Those About To Rock{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{{ static('ftatr/Font-Awesome/css/font-awesome.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ static('ftatr/fonts/static/static.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ static('ftatr/css/main.css') }}">
        {% endcompress %}
    {% endblock stylesheets %}

    {# rss feeds #}
    <link rel="alternate" type="application/rss+xml" title="Latest rocking chairs"
          href="{{ url('rocking_chair:feed') }}">

    {# webmaster tools validation code #}
    <meta name="google-site-verification" content="hwfSEk0sO_0hecEJYbvtDi6eGS1KK-OP-Tf9UJzSCog"/>

    {# favicon #}
    <link rel="shortcut icon" href="{{ static('images/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ static('ftatr/images/apple-touch-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ static('ftatr/images/apple-touch-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ static('ftatr/images/apple-touch-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ static('ftatr/images/apple-touch-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ static('ftatr/images/apple-touch-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ static('ftatr/images/apple-touch-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ static('ftatr/images/apple-touch-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ static('ftatr/images/apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static('ftatr/images/apple-touch-icon-180x180.png') }}">
    <meta name="apple-mobile-web-app-title" content="For Those About To Rock">
    <link rel="icon" type="image/png" href="{{ static('ftatr/images/favicon-192x192.png') }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ static('ftatr/images/favicon-160x160.png') }}" sizes="160x160">
    <link rel="icon" type="image/png" href="{{ static('ftatr/images/favicon-96x96.png') }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ static('ftatr/images/favicon-16x16.png') }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ static('ftatr/images/favicon-32x32.png') }}" sizes="32x32">
    <meta name="msapplication-TileColor" content="#ffff00">
    <meta name="msapplication-TileImage" content="{{ static('ftatr/images/mstile-144x144.png') }}">
    <meta name="msapplication-config" content="{{ static('ftatr/images/browserconfig.xml') }}">
    <meta name="application-name" content="For Those About To Rock">

    {# General purpose meta #}
    <meta name="description"
          content="{% block description %}For Those About To Rock is an anthology of modern rocking chair. Every day a new rocking chair is posted, with both gorgeous images and full details about its designer(s), manufacturer(s) etc.{% endblock %}">
    <meta name="keywords" content="rocking chair, design, designer, manufacturer, anthology, rocker"/>

    {# Fb Open Graph tags #}
    <meta property="og:title" content="{% block og_title %}Latest rocking chairs{% endblock %}">
    <meta property="og:site_name" content="For Those About To Rock : A Rocking-Chair Anthology">
    <meta property="og:url"
          content="{% block og_url %}{{ request.build_absolute_uri(url('rocking_chair:index')) }}{% endblock %}">
    <meta property="og:description"
          content="For Those About To Rock is an anthology of modern rocking chair. Every day a new rocking chair is posted, with both gorgeous images and full details about its designer(s), manufacturer(s) etc.">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}">

    {# Twitter cards #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@RChairAnthology">
    <meta name="twitter:creator" content="@RChairAnthology">
    <meta name="twitter:title" content="{% block twitter_title %}Latest rocking chairs{% endblock %}">
    <meta name="twitter:description"
          content="For Those About To Rock is an anthology of modern rocking chair. Every day a new rocking chair is posted, with both gorgeous images and full details about its designer(s), manufacturer(s) etc.">
    <meta name="twitter:image:src" content="{% block twitter_image %}{% endblock %}">
</head>

<body>
<div class="body-container">

    {% block body %}

        <header>
            <h1>
                <a href="{{ url('rocking_chair:index') }}">
                    For those about to rock
                </a>
            </h1>

            <p>A rocking chair anthology</p>
        </header>

        {% block nav %}
            {{ nav(request) | safe }}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <div class="clear"></div>

        <footer>
            <div class="footer-content">
                <p>
                    For Those About To Rock is made and maintained by me, <a href="http://hexagonal.io">Jeremy</a>.<br>
                    I tweet at <a href="https://twitter.com/RChairAnthology">@RChairAnthology</a> but prefer <a
                        href="mailto:jeremy@forthoseabouttorock.io">email</a> for actual conversation.<br>
                    The source code is open and available at <a
                        href="https://github.com/jmorel/for-those-about-to-rock">GitHub</a>.
                </p>

                <p>
                    Special thanks to The Noun Project for menu icons. <br/>
                    Rocking chair icon by Christophe Clapier. <br/>
                    Manufacturer icon by Lil Squid. <br/>
                    Timeline icon by Steve Stomp.
                </p>
                <a href="http://hexagonal.io" class="hexagonal-link">
                    <img src="{{ static('ftatr/images/hexagonal-logo.png') }}">
                </a>
            </div>
        </footer>
    {% endblock %}

    <div class="konami">
        <button class="close">
            <i class="fa fa-close"></i>
        </button>
        <iframe class="player"></iframe>
    </div>
</div>

{% block remote_javascripts %}
    {# Twitter #}
    <script type="text/javascript" async src="//platform.twitter.com/widgets.js"></script>
{% endblock %}

{% compress js %}
    {% block javascripts %}
        {# jQuery #}
        <script type="text/javascript" src="{{ static('ftatr/vendor/jquery/jquery-2.1.1.min.js') }}"></script>

        {# Bootstrap #}
        <script type="text/javascript" src="{{ static('ftatr/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        {# Konami code #}
        <script type="text/javascript" src="{{ static('ftatr/js/jquery.konami.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $(window).konami();
                $(window).on('konami', function () {
                    $('.konami .player').replaceWith('<iframe class="player" src="https://www.youtube.com/embed/RtMGoU9NcMo?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>');
                    $('.konami').show();
                });

                $('.konami .close').on('click', function () {
                    $('.konami .player').replaceWith('<iframe class="player"></iframe>');
                    $('.konami').hide();
                });
            });
        </script>


        {# Enable touch carousel #}
        <script type="text/javascript" src="{{ static('ftatr/js/jquery.touchSwipe.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $(".carousel-inner").swipe({
                    //Generic swipe handler for all directions
                    swipeLeft: function (event, direction, distance, duration, fingerCount) {
                        $(this).parent().carousel('prev');
                    },
                    swipeRight: function () {
                        $(this).parent().carousel('next');
                    },
                    //Default is 75px, set to 0 for demo so any distance triggers swipe
                    threshold: 0
                });
            });
        </script>

        {# Google Analytics #}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-55571533-1', 'auto');
            ga('send', 'pageview');
        </script>

        {# Facebook #}
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '{{ FACEBOOK_APP_ID }}',
                    xfbml: true,
                    version: 'v2.2'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    {% endblock %}
{% endcompress %}
</body>

</html>
