<div class="nav nav-{{ items | length }}" id="nav">
    <div class="nav-toggle" id="nav-toggle">
        <i class="fa fa-navicon"></i>
    </div>
    {% for item in items %}
        {% if item['caption'] == 'search' %}
            <form method="get" action="{{ url('search') }}" class="nav-item nav-item-{{ loop.index }}-{{ items|length }} nav-item-search">
                <button class="nav-item-picture" type="submit">
                    {{ item['picture'] | safe }}
                </button>
                <div class="nav-item-caption">
                    <input id="id_q"
                           name="q"
                           type="search"
                           class="search-box"
                           placeholder="Search..."
                           {% if query %}value="{{ query }}"{% endif %}/>
                </div>
            </form>
        {% else %}
            <a class="nav-item nav-item-{{ loop.index }}-{{ items|length }}"
               href="{{ url(item['url']) }}">
                <div class="nav-item-picture">
                    {{ item['picture'] | safe }}
                </div>
                <div class="nav-item-caption">
                    {{ item['caption'] }}
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>

<script type="text/javascript">
    var nav = document.getElementById('nav');
    var navToggle = document.getElementById('nav-toggle');
    navToggle.onclick = function() {
        nav.classList.toggle('nav-open');
    }
</script>
