<div class="nav nav-{{ items | length }}">
    {% for item in items %}
        {% if item['caption'] == 'search' %}
            <form method="get" action="{{ url('search') }}" class="nav-item nav-item-{{ loop.index }}-{{ items|length }} nav-item-search">
                <button class="nav-item-picture" type="submit">
                    {{ item['picture'] | safe }}
                </button>
                <div class="nav-item-caption">
                    <input id="id_q" name="q" type="search" class="search-box" placeholder="Search"/>
                </div>
            </form>
        {% else %}
            <a class="nav-item nav-item-{{ loop.index }}-{{ items|length }}"
               href="{{ url(item['url']) }}">
                <div class="nav-item-picture">
                    {{ item['picture'] | safe }}
                </div>
                <div class="nav-item-caption">
                    {{ item['caption'] }}
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>
