{% set items = [
    {'url': url('rocking_chair:index'), 'picture': 1, 'caption': 'Last entries'},
    {'url': 'search.html', 'picture': '<i class="fa fa-search"></i>', 'caption': 'search'},
    {'url': url('rocking_chair:index-by-year'), 'picture': 2, 'caption': 'Rocking chairs by year'},
    {'url': url('rocking_chair:index'), 'picture': '<i class="fa fa-users"></i>', 'caption': 'Designers by name'},
    {'url': url('rocking_chair:index'), 'picture': '<i class="fa fa-users"></i>', 'caption': 'Designers by year'},
] %}

<div class="nav nav-{{ items | length }}">
    {% for item in items %}
        {% if item['caption'] == 'search' %}
        <div class="nav-item nav-item-{{ loop.index }}-{{ items|length }} nav-item-search">
            <div class="nav-item-picture {% if loop.last %}nav-item-picture-active{% endif %} ">
                {{ item['picture'] | safe }}
            </div>
            <div class="nav-item-caption nav-item-caption-{% if loop.last or not loop.index % 2 %}right{% else %}left{% endif %}">
                <form action="">
                    <input type="text" class="search-box" placeholder="Search"/>
                </form>
            </div>
        </div>
        {% else %}
        <a class="nav-item nav-item-{{ loop.index }}-{{ items|length }}"
           href="{{ item['url'] }}">
            <div class="nav-item-picture {% if loop.last %}nav-item-picture-active{% endif %} ">
                {{ item['picture'] | safe }}
            </div>
            <div class="nav-item-caption nav-item-caption-{% if loop.last or not loop.index % 2 %}right{% else %}left{% endif %}">
                {{ item['caption'] }}
            </div>
        </a>
        {% endif %}
    {% endfor %}
</div>
