{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block object-tools-items %}
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn btn-success">
            <i class="icon-plus-sign icon-white"></i>
            {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
        </a>
        <a href="{% url 'admin:rocking_chair_timeline' %}" class="btn btn-standard">Timeline</a>
{% endblock %}
