.background-reset {
  background: none;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
  width: 100%;
  height: 100%;
}
.carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  text-align: center;
  font-size: 0;
  border-radius: 270px;
  overflow: hidden;
}
.carousel-inner .item:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.carousel-inner .item img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.carousel-inner .active {
  opacity: 1;
}
.carousel-inner .active.left,
.carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-inner .next.left,
.carousel-inner .prev.right {
  opacity: 1;
}
.carousel-control {
  color: #7f8000;
  text-shadow: none;
  opacity: 1;
  z-index: 2;
}
@media (max-width: 599px) {
  .carousel-control {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .carousel-control {
    font-size: 2rem;
    height: 440px;
    line-height: 440px;
    width: 40px;
  }
}
@media (min-width: 900px) {
  .carousel-control {
    font-size: 3rem;
    height: 600px;
    line-height: 600px;
    width: 60px;
  }
}
.carousel-control:hover {
  color: #333333;
}
.carousel-control.left {
  background: none;
  left: 0;
  text-align: left;
}
@media (min-width: 600px) and (max-width: 899px) {
  .carousel-control.left {
    margin-left: -80px;
  }
}
@media (min-width: 900px) {
  .carousel-control.left {
    margin-left: -150px;
  }
}
.carousel-control.right {
  background: none;
  right: 0;
  text-align: right;
}
@media (min-width: 600px) and (max-width: 899px) {
  .carousel-control.right {
    margin-right: -80px;
  }
}
@media (min-width: 900px) {
  .carousel-control.right {
    margin-right: -150px;
  }
}
.carousel-indicators {
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel-indicators li {
  background-color: transparent;
  border: 1px solid #ffff00;
}
.carousel-indicators li.active {
  background-color: #ffff00;
}
