@import "variables";

.round-link-centered {
    margin: @paginate-spacing 0;

    a {
        text-align: center;
        display: block;
        background: @yellow;
        border: @body-background-vertical-width solid white;
        color: @yellow-dark;
        margin: 0 auto;
        border-radius: @paginate-radius;
        width: 2*@paginate-radius;
        height: 2*@paginate-radius;
        font-size: 0.75rem;
        // the -7px is here to compensate for the font's cap-height/descend in the centering
        line-height: 2*@paginate-radius - 7px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: @grey;
        }
    }
}

.round-item-list {
    margin-top: @paginate-spacing;
    margin-bottom: @paginate-spacing;
    .item {
        display: block;
        margin: 0;
        margin-top: @article-attribute-spacing-large;
        list-style: none;
        padding: 0;
        max-width: 50%;
        background: linear-gradient(
                0deg,
                @white 0,
                @white @body-background-vertical-width) no-repeat;
        background-size: 2*@article-attribute-spacing-large @body-background-vertical-width;
    }

    .item-left {
        float: right;
        right: 50%;
        text-align: right;
        margin-right: @body-background-vertical-width/2;
        background-position: right @timeline-picture-radius;
        padding-right: @article-attribute-spacing-large;

        .item-picture {
            float: right;
        }
        .item-text {
            margin-right: 2*@timeline-picture-radius + @article-attribute-spacing-large;
        }
    }

    .item-right {
        float: left;
        left: 50%;
        text-align: left;
        margin-left: @body-background-vertical-width/2;
        background-position: left @timeline-picture-radius;
        padding-left: @article-attribute-spacing-large;

        .item-picture {
            float: left;
        }
        .item-text {
            margin-left: 2*@timeline-picture-radius + @article-attribute-spacing-large;
        }
    }

    .item-picture {
        background-color: white;
        border-radius: @timeline-picture-radius;
        border: @body-background-vertical-width solid @white;
        width: 2*@timeline-picture-radius;
        height: 2*@timeline-picture-radius;
        transition-property: opacity;
        text-align: center;
        font-size: 0;
        overflow: hidden;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        img {
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .item-text {
        padding-top: @timeline-entry-name-padding-large;
    }

}
