@import '../fonts/static/static.css';

// colors
@grey: #333333;
@white: #ffffff;
@yellow: yellow;
@yellow-dark: darken(@yellow, 15%);
@yellow-darker: darken(@yellow, 30%);
@yellow-light: lighten(@yellow, 15%);

// max page width
@main-width: 900px;

// rocking chair 
// pictures
@item-radius: 300px;
@item-border: 30px;

* {
    box-sizing: border-box;
    position: relative;
}

// BODY / GENERAL

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Static';
    background-color: @yellow;
    background-image: linear-gradient(
            90deg,
            @white 0,
            @white 5px);
    background-size: 5px 5px;
    background-position: center;
    background-repeat: repeat-y;
}

a {
    color: inherit;

    &:hover {
        background-color: @yellow;
    }
}

// HEADER

header {
    color: #fff;
    height: 600px;
    background-image: radial-gradient(
            ellipse closest-side,
            @white 0%,
            @white 99%,
            transparent 99%,
            transparent);
    background-position: center bottom;
    background-size: 120% 180%;
    background-repeat: no-repeat;

    h1 {
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
        color: @grey;
        font-size: 110pt;
        line-height: 110pt;
        padding-top: 0.66em;
        margin: 0 auto 0 auto;
        width: @main-width;
    }

    p {
        font-size: 2em;
        padding-bottom: 1em;
        text-align: center;
        color: @grey;
    }
}

// PAGINATION

div.paginate {

    a {
        text-align: center;
        padding-top: 1.5*@item-border;
        display: block;
        background: @yellow;
        border: 5px solid white;
        color: @yellow-dark;
        margin: 2*@item-border auto;
        border-radius: 2*@item-border;
        width: 4*@item-border;
        height: 4*@item-border;
        font-size: 18pt;
        line-height: 18pt;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: @grey;
        }
    }

    .count {
        position: absolute;
        color: @yellow-dark;
        top: 0;
        line-height: 4*@item-border;
        height: 4*@item-border;
        font-size: 14pt;
    }

    &.previous .count {
        right: 50%;
        margin-right: 2.5*@item-border;
    }
    &.next .count {
        left: 50%;
        margin-left: 2.5*@item-border;
    }

}

// ROCKING CHAIR

article.rocking-chair {

    clear: both;
    padding-top: @item-radius / 2;

    .pictures {
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: @item-border white solid;
        border-radius: @item-radius;
        width: @item-radius*2;
        height: @item-radius*2;

        background-size: cover;
        background-position: center center;
    }

    ul.attributes {
        display: inline-block;
        margin: 0;
        margin-top: @item-border/2;
        padding: 0;
        list-style: none;
        max-width: 50%;

        &.attributes-left {
            float: right;
            right: 50%;
            text-align: right;
            margin-right: @item-border/2;
        }

        &.attributes-right {
            float: left;
            left: 50%;
            text-align: left;
            margin-left: @item-border/2;
        }

        li {
            display: block;
            margin-bottom: @item-border/2;
            //            height: 75px;
        }

        .rocking-chair-name {
            padding-top: 5px;
            font-size: 90px;
            line-height: 75px;
        }

        .attribute {
            display: inline-block;
        }

        .attribute-name {
            background-color: @yellow-dark;
            color: @yellow;
            padding: 2px 5px;
            margin-top: -5pt;
            z-index: -1;
        }

        .attribute-value {
            font-size: 40pt;
            line-height: 40pt;
        }

        .attribute-links {
            position: absolute;
            display: inline-block;
            vertical-align: top;
            font-size: 15pt;

            a {
                color: @yellow-dark;

                &:hover {
                    color: @grey;
                }
            }
        }

        &.attributes-left .attribute-links {
            right: 100%;
            padding-right: 0.5em;
        }

        &.attributes-right .attribute-links {
            left: 100%;
            padding-left: 0.5em;
        }
    }
}

// FOOTER

.clear {
    clear: both;
}

footer {
    margin-top: @item-radius/2;
    background-image: radial-gradient(
            ellipse closest-side,
            @white 0%,
            @white 99%,
            transparent 99%,
            transparent);
    background-position: center top;
    background-size: 120% 180%;
    background-repeat: no-repeat;

    div.footer-content {
        width: @main-width;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2* @item-border;
        padding-bottom: @item-border;
        text-align: center;
    }

    a.hexagonal-link {
        background: none;
    }
}
