.round-item-medium {
  display: block;
  background: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  color: #555555;
}
.round-item-large {
  display: block;
  background: #ffffff;
  border: 30px solid #ffffff;
  border-radius: 300px;
  width: 600px;
  height: 600px;
  text-align: center;
  line-height: 600px;
  color: #555555;
}
.round-link-centered {
  margin: 60px 0;
}
.round-link-centered.active {
  margin-bottom: 0;
}
.round-link-centered.active a {
  color: #333333;
  background-color: #ffffff;
}
.round-link-centered a {
  text-align: center;
  display: block;
  background: #ffff00;
  border: 5px solid #ffffff;
  color: #7f8000;
  margin: 0 auto;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  font-size: 0.75rem;
  line-height: 113px;
  text-decoration: none;
  text-transform: uppercase;
}
.round-link-centered a:hover {
  color: #333333;
}
.round-item-list .item {
  display: block;
  margin: 0;
  margin-top: 15px;
  list-style: none;
  padding: 0;
}
@media (min-width: 600px) {
  .round-item-list .item {
    background: linear-gradient(0deg, #ffffff 0, #ffffff 5px) no-repeat;
    background-size: 30px 5px;
    max-width: 49%;
  }
}
@media (max-width: 599px) {
  .round-item-list .item-left {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .round-item-list .item-left {
    float: right;
    right: 50%;
    text-align: right;
    margin-right: 2.5px;
    background-position: right 30px;
    padding-right: 15px;
  }
}
@media (max-width: 599px) {
  .round-item-list .item-left .item-picture {
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .round-item-list .item-left .item-picture {
    float: right;
  }
}
@media (min-width: 600px) {
  .round-item-list .item-left .item-text {
    margin-right: 75px;
  }
}
@media (max-width: 599px) {
  .round-item-list .item-right {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .round-item-list .item-right {
    float: left;
    left: 50%;
    text-align: left;
    margin-left: 2.5px;
    background-position: left 30px;
    padding-left: 15px;
  }
}
@media (max-width: 599px) {
  .round-item-list .item-right .item-picture {
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .round-item-list .item-right .item-picture {
    float: left;
  }
}
@media (min-width: 600px) {
  .round-item-list .item-right .item-text {
    margin-left: 75px;
  }
}
.round-item-list .item-picture {
  background-color: white;
  border-radius: 30px;
  border: 5px solid #ffffff;
  width: 60px;
  height: 60px;
  transition-property: opacity;
  text-align: center;
  font-size: 0;
  overflow: hidden;
}
.round-item-list .item-picture:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.round-item-list .item-picture img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.round-item-list .item-picture i {
  vertical-align: middle;
  font-size: 1rem;
}
@media (max-width: 599px) {
  .round-item-list .item-text {
    margin-top: 10px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .round-item-list .item-text:before {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 10px) center top no-repeat;
  }
  .round-item-list .item-text:after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 10px) center bottom no-repeat;
  }
}
@media (min-width: 600px) {
  .round-item-list .item-text {
    padding-top: 10px;
  }
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    transition: transform 0.6s ease-in-out;
    backface-visibility: hidden;
    perspective: 1000;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
.background-reset {
  background: none;
}
.carousel,
.carousel-inner,
.carousel-inner .item {
  width: 100%;
  height: 100%;
}
.carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
  text-align: center;
  font-size: 0;
  border-radius: 270px;
  overflow: hidden;
}
.carousel-inner .item:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.carousel-inner .item img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.carousel-inner .active {
  opacity: 1;
}
.carousel-inner .active.left,
.carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-inner .next.left,
.carousel-inner .prev.right {
  opacity: 1;
}
.carousel-control {
  color: #7f8000;
  text-shadow: none;
  opacity: 1;
  z-index: 2;
}
@media (max-width: 599px) {
  .carousel-control {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .carousel-control {
    font-size: 2rem;
    height: 440px;
    line-height: 440px;
    width: 40px;
  }
}
@media (min-width: 900px) {
  .carousel-control {
    font-size: 3rem;
    height: 600px;
    line-height: 600px;
    width: 60px;
  }
}
.carousel-control:hover {
  color: #333333;
}
.carousel-control.left {
  background: none;
  left: 0;
  text-align: left;
}
@media (min-width: 600px) and (max-width: 899px) {
  .carousel-control.left {
    margin-left: -80px;
  }
}
@media (min-width: 900px) {
  .carousel-control.left {
    margin-left: -150px;
  }
}
.carousel-control.right {
  background: none;
  right: 0;
  text-align: right;
}
@media (min-width: 600px) and (max-width: 899px) {
  .carousel-control.right {
    margin-right: -80px;
  }
}
@media (min-width: 900px) {
  .carousel-control.right {
    margin-right: -150px;
  }
}
.carousel-indicators {
  margin: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel-indicators li {
  background-color: transparent;
  border: 1px solid #ffff00;
}
.carousel-indicators li.active {
  background-color: #ffff00;
}
/**
 * Generate a circular menu of n (odd) items using the following rules
 * 1. Each item has a radius r (nav-item-radius: 30px)
 * 2. Each item has its center distant from the next one by 4*r (i.e. there is enough room to fit another item between 2
 *    existing ones)
 * 3. The currently selected item has a bigger radius r0 (nav-item-active-radius: 40px). It doesn't affect the
 *    center-to-center distance to its neighbours
 */
/**
 * @n number of menu items
 * @i index of current item, between 0 and n-1
 * @r standard item radius
 */
/**
 * @n number of menu items
 */
/**
 * @n number of menu items
 * @i index of current item, between 0 and n-1
 */
.nav {
  position: relative;
}
@media (max-width: 599px) {
  .nav {
    display: block;
    text-align: center;
  }
}
@media (min-width: 600px) {
  .nav {
    font-size: 0.7rem;
  }
}
@media (max-width: 599px) {
  .nav .nav-item {
    display: none;
  }
}
@media (min-width: 600px) {
  .nav .nav-item {
    position: absolute;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-caption {
    display: inline-block;
    padding-top: 20px;
  }
}
.nav .nav-item-picture {
  text-align: center;
  color: #7f8000;
  cursor: pointer;
  font-size: inherit;
  line-height: 50px;
}
@media (max-width: 599px) {
  .nav .nav-item-picture {
    background: none;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  .nav .nav-item-picture:not(button) {
    display: none;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-picture {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 5px solid #ffffff;
    background-color: #ffff00;
  }
}
.nav .nav-item-picture img {
  vertical-align: middle;
  max-width: 30px;
  max-height: 30px;
}
.nav .nav-item-picture .normal {
  display: none;
}
.nav .nav-item-picture .dimmed {
  display: inline;
}
.nav .nav-item:hover .nav-item-picture,
.nav .nav-item-picture:active,
.nav .nav-item-picture:focus {
  background-color: white;
  color: #333333;
}
.nav .nav-item:hover .nav-item-picture .normal,
.nav .nav-item-picture:active .normal,
.nav .nav-item-picture:focus .normal {
  display: inline;
}
.nav .nav-item:hover .nav-item-picture .dimmed,
.nav .nav-item-picture:active .dimmed,
.nav .nav-item-picture:focus .dimmed {
  display: none;
}
.nav .nav-item:hover .search-box {
  border-bottom: 2px solid #ffffff;
}
.nav .nav-item-search .search-box {
  border: none;
  font-family: 'Static';
  font-size: inherit;
  background: transparent;
}
.nav .nav-item-search .search-box:focus {
  background-color: #ffffff;
}
@media (max-width: 599px) {
  .nav .nav-item-search .search-box {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 599px) {
  .nav .nav-item-search .nav-item-caption {
    margin-right: 45px;
  }
}
.nav .nav-item-search.nav-item-1-3 .search-box {
  background-position: 0 35px;
}
.nav.nav-7 {
  margin: 77.66158412px 0 100px 0;
}
@media (max-width: 599px) {
  .nav.nav-7 {
    line-height: 1.67em;
  }
}
@media (min-width: 600px) {
  .nav.nav-7 {
    min-height: 249.18256759px;
  }
  .nav.nav-7:before {
    display: block;
    content: "";
    width: 249.18256759px;
    height: 249.18256759px;
    border-radius: 124.59128379px;
    border: 5px solid #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -124.59128379px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-1-7 {
    top: 209.18256759px;
    left: 50%;
    margin-left: -40px;
  }
  .nav .nav-item-1-7 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-1-7 {
    font-size: 1rem;
    color: #333333;
  }
  .nav .nav-item-1-7 .nav-item-picture {
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    color: #333333;
    line-height: 70px;
  }
  .nav .nav-item-1-7 .nav-item-picture img {
    max-width: 50px;
    max-height: 50px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-2-7 {
    top: 172.27267864px;
    left: 50%;
    margin-left: 67.40938811px;
  }
  .nav .nav-item-2-7 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-3-7 {
    top: 66.86711496px;
    left: 50%;
    margin-left: 91.46752019px;
  }
  .nav .nav-item-3-7 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-4-7 {
    top: -17.66158412px;
    left: 50%;
    margin-left: 24.05813207px;
  }
  .nav .nav-item-4-7 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-5-7 {
    top: -17.66158412px;
    margin-right: 50%;
    right: 24.05813207px;
  }
  .nav .nav-item-5-7 .nav-item-caption {
    float: left;
    padding-right: 5px;
  }
  .nav .nav-item-5-7.nav-item-search {
    text-align: right;
  }
  .nav .nav-item-5-7.nav-item-search .search-box {
    text-align: right;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-6-7 {
    top: 66.86711496px;
    margin-right: 50%;
    right: 91.46752019px;
  }
  .nav .nav-item-6-7 .nav-item-caption {
    float: left;
    padding-right: 5px;
  }
  .nav .nav-item-6-7.nav-item-search {
    text-align: right;
  }
  .nav .nav-item-6-7.nav-item-search .search-box {
    text-align: right;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-7-7 {
    top: 172.27267864px;
    margin-right: 50%;
    right: 67.40938811px;
  }
  .nav .nav-item-7-7 .nav-item-caption {
    float: left;
    padding-right: 5px;
  }
  .nav .nav-item-7-7.nav-item-search {
    text-align: right;
  }
  .nav .nav-item-7-7.nav-item-search .search-box {
    text-align: right;
  }
}
@media (max-width: 599px) {
  .nav .nav-toggle {
    display: inline-block;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
  }
}
@media (min-width: 600px) {
  .nav .nav-toggle {
    display: none;
  }
}
@media (max-width: 599px) {
  .nav.nav-open {
    background-image: radial-gradient(ellipse 70% 30px at center top 60px, #ffffff 0%, #ffffff 99%, transparent 99%, transparent), linear-gradient(to bottom, transparent, transparent 45px, #ffffff 45px, #ffffff 55%, transparent 55%, transparent), linear-gradient(to top, transparent, transparent 30px, #ffffff 30px, #ffffff 55%, transparent 55%, transparent), radial-gradient(ellipse 70% 30px at center bottom 30px, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
    background-repeat: no-repeat;
    padding: 0 15px 30px 15px;
  }
  .nav.nav-open .nav-item {
    display: block;
  }
  .nav.nav-open .nav-toggle {
    display: block;
  }
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.index-entry-title {
  display: block;
  background: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 120px;
  color: #555555;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.75rem;
  line-height: 113px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 0;
}
.index-entry-title.empty {
  background-color: #ffff00;
  color: #7f8000;
  margin-bottom: 60px;
}
.index-entry-list .item {
  display: block;
  margin: 0;
  margin-top: 15px;
  list-style: none;
  padding: 0;
}
@media (min-width: 600px) {
  .index-entry-list .item {
    background: linear-gradient(0deg, #ffffff 0, #ffffff 5px) no-repeat;
    background-size: 30px 5px;
    max-width: 49%;
  }
}
@media (max-width: 599px) {
  .index-entry-list .item-left {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .index-entry-list .item-left {
    float: right;
    right: 50%;
    text-align: right;
    margin-right: 2.5px;
    background-position: right 30px;
    padding-right: 15px;
  }
}
@media (max-width: 599px) {
  .index-entry-list .item-left .item-picture {
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .index-entry-list .item-left .item-picture {
    float: right;
  }
}
@media (min-width: 600px) {
  .index-entry-list .item-left .item-text {
    margin-right: 75px;
  }
}
@media (max-width: 599px) {
  .index-entry-list .item-right {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .index-entry-list .item-right {
    float: left;
    left: 50%;
    text-align: left;
    margin-left: 2.5px;
    background-position: left 30px;
    padding-left: 15px;
  }
}
@media (max-width: 599px) {
  .index-entry-list .item-right .item-picture {
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .index-entry-list .item-right .item-picture {
    float: left;
  }
}
@media (min-width: 600px) {
  .index-entry-list .item-right .item-text {
    margin-left: 75px;
  }
}
.index-entry-list .item-picture {
  background-color: white;
  border-radius: 30px;
  border: 5px solid #ffffff;
  width: 60px;
  height: 60px;
  transition-property: opacity;
  text-align: center;
  font-size: 0;
  overflow: hidden;
}
.index-entry-list .item-picture:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.index-entry-list .item-picture img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.index-entry-list .item-picture i {
  vertical-align: middle;
  font-size: 1rem;
}
@media (max-width: 599px) {
  .index-entry-list .item-text {
    margin-top: 10px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .index-entry-list .item-text:before {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 10px) center top no-repeat;
  }
  .index-entry-list .item-text:after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 10px) center bottom no-repeat;
  }
}
@media (min-width: 600px) {
  .index-entry-list .item-text {
    padding-top: 10px;
  }
}
@media (max-width: 599px) {
  .attributes-container {
    margin-top: 15px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .attributes-container:before {
    content: '';
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 15px) center top no-repeat;
  }
  .attributes-container:after {
    content: '';
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 15px) center bottom no-repeat;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .attributes-container {
    margin-top: 30px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .attributes-container:before {
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 30px) center top no-repeat;
  }
  .attributes-container:after {
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 30px) center bottom no-repeat;
  }
}
@media (min-width: 900px) {
  .attributes-container {
    margin-top: 30px;
  }
}
ul.attributes {
  display: block;
  margin: 0;
  list-style: none;
  padding: 0;
}
@media (min-width: 900px) {
  ul.attributes {
    max-width: 50%;
  }
  ul.attributes.attributes-left {
    float: right;
    right: 50%;
    text-align: right;
    margin-right: 15px;
  }
  ul.attributes.attributes-right {
    float: left;
    left: 50%;
    text-align: left;
    margin-left: 15px;
  }
}
ul.attributes li {
  display: block;
  margin-bottom: 15px;
}
@media (max-width: 899px) {
  ul.attributes li {
    text-align: center;
  }
}
ul.attributes .title {
  font-size: 2.3rem;
  line-height: 1em;
}
ul.attributes .title a {
  color: inherit;
}
ul.attributes .title a:hover {
  text-decoration: underline;
}
ul.attributes .attribute {
  display: inline-block;
}
ul.attributes .attribute-tag {
  font-size: 0.5rem;
  background-color: #7f8000;
  color: #ffff00;
  padding: 0.2em 0.4em;
}
ul.attributes .attribute-name {
  font-size: 0.5rem;
  background-color: #7f8000;
  color: #ffff00;
  padding: 0.2em 0.4em;
  margin-top: -0.2em;
}
ul.attributes .attribute-value {
  line-height: 1em;
  z-index: 1;
}
@media (max-width: 599px) {
  ul.attributes .attribute-value {
    font-size: 1.3rem;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  ul.attributes .attribute-value {
    font-size: 1.4rem;
  }
}
@media (min-width: 900px) {
  ul.attributes .attribute-value {
    font-size: 1.5rem;
  }
}
ul.attributes .attribute-links {
  font-size: 0.6rem;
}
@media (max-width: 899px) {
  ul.attributes .attribute-links {
    padding-top: 0.5em;
  }
}
@media (min-width: 900px) {
  ul.attributes .attribute-links {
    position: relative;
    top: 0;
    display: inline-block;
    vertical-align: top;
  }
}
ul.attributes .attribute-links a {
  color: #7f8000;
  text-decoration: none;
}
ul.attributes .attribute-links a:hover {
  color: #333333;
}
.single-title {
  display: block;
  background: #ffffff;
  border: 30px solid #ffffff;
  border-radius: 300px;
  width: 600px;
  height: 600px;
  text-align: center;
  line-height: 600px;
  color: #555555;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.single-title .unknown {
  font-size: 5rem;
}
@media (max-width: 599px) {
  .single-attributes {
    margin-top: 15px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .single-attributes:before {
    content: '';
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    top: -15px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 15px) center top no-repeat;
  }
  .single-attributes:after {
    content: '';
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 15px) center bottom no-repeat;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .single-attributes {
    margin-top: 30px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .single-attributes:before {
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 30px) center top no-repeat;
  }
  .single-attributes:after {
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -30px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 30px) center bottom no-repeat;
  }
}
@media (min-width: 900px) {
  .single-attributes {
    margin-top: 30px;
  }
}
.single-related {
  margin-top: 60px;
  margin-bottom: 60px;
}
.single-related .item {
  display: block;
  margin: 0;
  margin-top: 15px;
  list-style: none;
  padding: 0;
}
@media (min-width: 600px) {
  .single-related .item {
    background: linear-gradient(0deg, #ffffff 0, #ffffff 5px) no-repeat;
    background-size: 30px 5px;
    max-width: 49%;
  }
}
@media (max-width: 599px) {
  .single-related .item-left {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .single-related .item-left {
    float: right;
    right: 50%;
    text-align: right;
    margin-right: 2.5px;
    background-position: right 30px;
    padding-right: 15px;
  }
}
@media (max-width: 599px) {
  .single-related .item-left .item-picture {
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .single-related .item-left .item-picture {
    float: right;
  }
}
@media (min-width: 600px) {
  .single-related .item-left .item-text {
    margin-right: 75px;
  }
}
@media (max-width: 599px) {
  .single-related .item-right {
    text-align: center;
  }
}
@media (min-width: 600px) {
  .single-related .item-right {
    float: left;
    left: 50%;
    text-align: left;
    margin-left: 2.5px;
    background-position: left 30px;
    padding-left: 15px;
  }
}
@media (max-width: 599px) {
  .single-related .item-right .item-picture {
    margin: 0 auto;
  }
}
@media (min-width: 600px) {
  .single-related .item-right .item-picture {
    float: left;
  }
}
@media (min-width: 600px) {
  .single-related .item-right .item-text {
    margin-left: 75px;
  }
}
.single-related .item-picture {
  background-color: white;
  border-radius: 30px;
  border: 5px solid #ffffff;
  width: 60px;
  height: 60px;
  transition-property: opacity;
  text-align: center;
  font-size: 0;
  overflow: hidden;
}
.single-related .item-picture:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.single-related .item-picture img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}
.single-related .item-picture i {
  vertical-align: middle;
  font-size: 1rem;
}
@media (max-width: 599px) {
  .single-related .item-text {
    margin-top: 10px;
    background-color: rgba(255, 255, 0, 0.5);
  }
  .single-related .item-text:before {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
    background: linear-gradient(transparent 0, rgba(255, 255, 0, 0.5) 10px) center top no-repeat;
  }
  .single-related .item-text:after {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: linear-gradient(rgba(255, 255, 0, 0.5) 0, transparent 10px) center bottom no-repeat;
  }
}
@media (min-width: 600px) {
  .single-related .item-text {
    padding-top: 10px;
  }
}
.graph-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0;
}
@media (max-width: 599px) {
  .graph-container {
    background-image: radial-gradient(ellipse 70% 30px at center top 60px, #ffffff 0%, #ffffff 99%, transparent 99%, transparent), linear-gradient(to bottom, transparent, transparent 45px, #ffffff 45px, #ffffff 55%, transparent 55%, transparent), linear-gradient(to top, transparent, transparent 30px, #ffffff 30px, #ffffff 55%, transparent 55%, transparent), radial-gradient(ellipse 70% 30px at center bottom 30px, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
    background-repeat: no-repeat;
    margin-bottom: 30px;
    padding-top: 20px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .graph-container {
    display: block;
    background: #ffffff;
    border: 30px solid #ffffff;
    border-radius: 300px;
    width: 600px;
    height: 600px;
    text-align: center;
    line-height: 600px;
    color: #555555;
    margin-bottom: 60px;
  }
}
@media (min-width: 900px) {
  .graph-container {
    display: block;
    background: #ffffff;
    border: 30px solid #ffffff;
    border-radius: 300px;
    width: 600px;
    height: 600px;
    text-align: center;
    line-height: 600px;
    color: #555555;
    margin-bottom: 120px;
  }
}
.graph-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.graph-container .graph {
  display: inline-block;
}
@media (max-width: 599px) {
  .graph-container .graph {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 270px;
    height: 270px;
  }
}
@media (min-width: 600px) {
  .graph-container .graph {
    vertical-align: top;
    width: 381.83766184px;
    height: 381.83766184px;
    margin-top: 79.08116908px;
  }
}
.konami {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
.konami .close {
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 30px;
  position: fixed;
  right: 15%;
  top: 15%;
  margin-top: -30px;
  margin-right: -30px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 12;
}
.konami .close:hover {
  font-size: 1.2rem;
}
.konami .player {
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  z-index: 11;
  border: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 599px) {
  html {
    font-size: 28px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  html {
    font-size: 30px;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 32px;
  }
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Static';
  font-size: 1rem;
  background-color: #ffff00;
  background-image: linear-gradient(90deg, #ffffff 0, #ffffff 5px);
  background-size: 5px 5px;
  background-position: center;
  background-repeat: repeat-y;
}
.body-container {
  width: 100%;
  overflow-x: hidden;
}
a {
  color: #7f8000;
  text-decoration: none;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
.clear {
  clear: both;
}
header {
  color: #fff;
  background-image: radial-gradient(ellipse closest-side, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
  background-position: center bottom;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
@media (max-width: 599px) {
  header {
    background-size: 180% 180%;
    padding: 30px 15px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  header {
    background-size: 150% 180%;
    padding: 60px 30px;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  header {
    background-size: 150% 180%;
    padding: 90px 45px;
  }
}
@media (min-width: 1200px) {
  header {
    background-size: 120% 180%;
    padding: 90px 45px;
  }
}
header h1 {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  color: #333333;
  line-height: 1em;
  margin: 0 auto 0 auto;
}
@media (max-width: 599px) {
  header h1 {
    font-size: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  header h1 {
    font-size: 2.9rem;
  }
}
@media (min-width: 900px) and (max-width: 1199px) {
  header h1 {
    font-size: 4rem;
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  header h1 {
    font-size: 4.6rem;
    max-width: 900px;
  }
}
header h1 a {
  color: inherit;
  transition: color 0.4s;
}
header h1 a:hover {
  color: #ffff00;
}
header p {
  font-size: 1rem;
  text-align: center;
  color: #333333;
  margin: 1em 0 0 0;
}
header a {
  color: inherit;
  transition: color 300ms;
}
header a:hover {
  color: #ffff00;
}
div.paginate {
  margin: 60px 0;
}
div.paginate.active {
  margin-bottom: 0;
}
div.paginate.active a {
  color: #333333;
  background-color: #ffffff;
}
div.paginate a {
  text-align: center;
  display: block;
  background: #ffff00;
  border: 5px solid #ffffff;
  color: #7f8000;
  margin: 0 auto;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  font-size: 0.75rem;
  line-height: 113px;
  text-decoration: none;
  text-transform: uppercase;
}
div.paginate a:hover {
  color: #333333;
}
div.paginate .count {
  position: absolute;
  color: #7f8000;
  top: 0;
  line-height: 120px;
  height: 120px;
  padding: 0 10px;
  font-size: 0.5rem;
}
div.paginate.previous .count {
  right: 50%;
  margin-right: 60px;
}
div.paginate.next .count {
  left: 50%;
  margin-left: 60px;
}
article.rocking-chair {
  clear: both;
}
@media (max-width: 599px) {
  article.rocking-chair {
    margin: 30px 0;
    padding: 15px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  article.rocking-chair {
    margin: 60px 0;
    padding: 0 30px;
  }
}
@media (min-width: 900px) {
  article.rocking-chair {
    margin: 120px 0;
  }
}
article.rocking-chair .pictures {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background: white center center;
}
@media (max-width: 599px) {
  article.rocking-chair .pictures {
    border: 5px #ffffff solid;
    border-radius: 140px;
    width: 280px;
    height: 280px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  article.rocking-chair .pictures {
    border: 20px #ffffff solid;
    border-radius: 220px;
    width: 440px;
    height: 440px;
  }
}
@media (min-width: 900px) {
  article.rocking-chair .pictures {
    border: 30px #ffffff solid;
    border-radius: 300px;
    width: 600px;
    height: 600px;
  }
}
footer {
  background-repeat: no-repeat;
  margin-top: 60px;
  font-size: 0.5rem;
  background-image: radial-gradient(ellipse closest-side, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
  background-position: center top;
}
@media (max-width: 599px) {
  footer {
    background-size: 180% 180%;
    padding-top: 30px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  footer {
    background-size: 150% 180%;
    padding-top: 30px;
  }
}
@media (min-width: 900px) {
  footer {
    background-size: 120% 180%;
  }
}
footer a {
  color: inherit;
  text-decoration: underline;
}
footer a:hover {
  background-color: #ffff00;
  text-decoration: underline;
}
footer div.footer-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 599px) {
  footer div.footer-content {
    width: 100%;
    padding: 15px;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  footer div.footer-content {
    width: 100%;
    padding: 30px;
  }
}
@media (min-width: 900px) {
  footer div.footer-content {
    width: 900px;
    padding: 45px 0;
  }
}
footer a.hexagonal-link {
  background: none;
}
