@import '../fonts/static/static.css';
* {
  box-sizing: border-box;
  position: relative;
}
html {
  font-size: 32px;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Static';
  font-size: 1rem;
  background-color: #ffff00;
  background-image: linear-gradient(90deg, #ffffff 0, #ffffff 5px);
  background-size: 5px 5px;
  background-position: center;
  background-repeat: repeat-y;
}
a {
  color: inherit;
}
a:hover {
  background-color: #ffff00;
}
.clear {
  clear: both;
}
header {
  color: #fff;
  height: 18em;
  background-image: radial-gradient(ellipse closest-side, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
  background-position: center bottom;
  background-size: 120% 180%;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}
header h1 {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  color: #333333;
  font-size: 4.6rem;
  line-height: 1em;
  padding-top: 0.5em;
  margin: 0 auto 0 auto;
  width: 900px;
}
header p {
  font-size: 1rem;
  text-align: center;
  color: #333333;
}
div.paginate {
  margin: 60px 0;
}
div.paginate a {
  text-align: center;
  display: block;
  background: #ffff00;
  border: 5px solid #ffffff;
  color: #b2b300;
  margin: 0 auto;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  font-size: 0.75rem;
  line-height: 120px;
  text-decoration: none;
  text-transform: uppercase;
}
div.paginate a:hover {
  color: #333333;
}
div.paginate .count {
  position: absolute;
  color: #b2b300;
  top: 0;
  line-height: 120px;
  height: 120px;
  padding-left: 10px;
  font-size: 0.5rem;
}
div.paginate.previous .count {
  right: 50%;
  margin-right: 60px;
}
div.paginate.next .count {
  left: 50%;
  margin-left: 60px;
}
article.rocking-chair {
  clear: both;
  margin: 120px 0;
}
article.rocking-chair .pictures {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 30px #ffffff solid;
  border-radius: 300px;
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center center;
}
article.rocking-chair ul.attributes {
  display: inline-block;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  max-width: 50%;
}
article.rocking-chair ul.attributes.attributes-left {
  float: right;
  right: 50%;
  text-align: right;
  margin-right: 15px;
}
article.rocking-chair ul.attributes.attributes-right {
  float: left;
  left: 50%;
  text-align: left;
  margin-left: 15px;
}
article.rocking-chair ul.attributes li {
  display: block;
  margin-bottom: 15px;
}
article.rocking-chair ul.attributes .rocking-chair-name {
  font-size: 2.3rem;
  line-height: 1em;
}
article.rocking-chair ul.attributes .attribute {
  display: inline-block;
}
article.rocking-chair ul.attributes .attribute-name {
  font-size: 0.5rem;
  background-color: #b2b300;
  color: #ffff00;
  padding: 0.2em 0.4em;
  margin-top: -0.2em;
  z-index: -1;
}
article.rocking-chair ul.attributes .attribute-value {
  font-size: 1.5rem;
  line-height: 1em;
}
article.rocking-chair ul.attributes .attribute-links {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  font-size: 0.6rem;
}
article.rocking-chair ul.attributes .attribute-links a {
  color: #b2b300;
}
article.rocking-chair ul.attributes .attribute-links a:hover {
  color: #333333;
}
article.rocking-chair ul.attributes.attributes-left .attribute-links {
  right: 100%;
  padding-right: 0.5em;
}
article.rocking-chair ul.attributes.attributes-right .attribute-links {
  left: 100%;
  padding-left: 0.5em;
}
footer {
  background-image: radial-gradient(ellipse closest-side, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
  background-position: center top;
  background-size: 120% 180%;
  background-repeat: no-repeat;
  margin-top: 60px;
  font-size: 0.5rem;
}
footer div.footer-content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}
footer a.hexagonal-link {
  background: none;
}
