@import '../fonts/static/static.css';
* {
  box-sizing: border-box;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Static';
  background-color: #ffff00;
  background-image: linear-gradient(90deg, #ffffff 0, #ffffff 5px);
  background-size: 5px 5px;
  background-position: center;
  background-repeat: repeat-y;
}
header {
  color: #fff;
  height: 600px;
  background-image: radial-gradient(ellipse closest-side, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
  background-position: center bottom;
  background-size: 120% 180%;
  background-repeat: no-repeat;
}
header h1 {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  color: #333333;
  font-size: 110pt;
  line-height: 110pt;
  padding-top: 0.66em;
  margin: 0 auto 0 auto;
  width: 900px;
}
header p {
  font-size: 2em;
  padding-bottom: 1em;
  text-align: center;
  color: #333333;
}
a.paginate {
  text-align: center;
  padding-top: 45px;
  display: block;
  background: white;
  color: #ffff00;
  margin: 60px auto;
  border-radius: 60px;
  width: 120px;
  height: 120px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20pt;
  line-height: 20pt;
}
a.paginate:hover {
  color: #333333;
}
a.paginate span.count {
  text-transform: lowercase;
  font-size: 14pt;
}
article.rocking-chair {
  clear: both;
  padding-top: 150px;
}
article.rocking-chair .pictures {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 30px #ffffff solid;
  border-radius: 300px;
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center center;
}
article.rocking-chair ul.attributes {
  display: inline-block;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  list-style: none;
}
article.rocking-chair ul.attributes.attributes-left {
  float: right;
  right: 50%;
  text-align: right;
  margin-right: 15px;
}
article.rocking-chair ul.attributes.attributes-right {
  float: left;
  left: 50%;
  text-align: left;
  margin-left: 15px;
}
article.rocking-chair ul.attributes li {
  display: block;
  margin-bottom: 15px;
  height: 75px;
}
article.rocking-chair ul.attributes .rocking-chair-name {
  padding-top: 5px;
  font-size: 90px;
  line-height: 75px;
}
article.rocking-chair ul.attributes .attribute {
  display: inline-block;
}
article.rocking-chair ul.attributes .attribute-name {
  background-color: #666600;
  color: #ffff00;
  padding: 2px 5px;
  margin-top: -5pt;
  z-index: -1;
}
article.rocking-chair ul.attributes .attribute-value {
  font-size: 40pt;
  line-height: 40pt;
}
article.rocking-chair ul.attributes .attribute-links {
  display: inline-block;
  vertical-align: top;
  font-size: 20pt;
  line-height: 40pt;
}
article.rocking-chair ul.attributes .attribute-links a {
  color: #666600;
}
article.rocking-chair ul.attributes .attribute-links a:hover {
  color: #333333;
}
.clear {
  clear: both;
}
footer {
  margin-top: 150px;
  background-image: radial-gradient(ellipse closest-side, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
  background-position: center top;
  background-size: 120% 180%;
  background-repeat: no-repeat;
}
footer div.footer-content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 30px;
}
