@import '../fonts/static/static.css';
@import 'variables';
@import 'carousel';


* {
    box-sizing: border-box;
    position: relative;
}

// BODY / GENERAL

html {
    font-size: @body-font-size;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Static';
    font-size: 1rem;
    background-color: @yellow;
    background-image: linear-gradient(
            90deg,
            @white 0,
            @white @body-background-vertical-width);
    background-size: @body-background-vertical-width @body-background-vertical-width;
    background-position: center;
    background-repeat: repeat-y;
}

a {
    color: inherit;

    &:hover {
        background-color: @yellow;
    }
}

.clear {
    clear: both;
}

// HEADER

header {
    color: #fff;
    height: 18em;
    background-image: radial-gradient(
            ellipse closest-side,
            @white 0%,
            @white 99%,
            transparent 99%,
            transparent);
    background-position: center bottom;
    background-size: 120% 180%;
    background-repeat: no-repeat;
    margin-bottom: @paginate-spacing;

    h1 {
        text-align: center;
        font-style: italic;
        text-transform: uppercase;
        color: @grey;
        font-size: 4.6rem;
        line-height: 1em;
        padding-top: 0.5em;
        margin: 0 auto 0 auto;
        width: @main-width;
    }

    p {
        font-size: 1rem;
        text-align: center;
        color: @grey;
    }
}

// PAGINATION

div.paginate {

    margin: @paginate-spacing 0;

    a {
        text-align: center;
        display: block;
        background: @yellow;
        border: @body-background-vertical-width solid white;
        color: @yellow-dark;
        margin: 0 auto;
        border-radius: @paginate-radius;
        width: 2*@paginate-radius;
        height: 2*@paginate-radius;
        font-size: 0.75rem;
        line-height: 2*@paginate-radius;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: @grey;
        }
    }

    .count {
        position: absolute;
        color: @yellow-dark;
        top: 0;
        line-height: 2*@paginate-radius;
        height: 2*@paginate-radius;
        padding-left: 2*@body-background-vertical-width;
        font-size: 0.5rem;
    }

    &.previous .count {
        right: 50%;
        margin-right: @paginate-radius;
    }
    &.next .count {
        left: 50%;
        margin-left: @paginate-radius;
    }

}

// ROCKING CHAIR

article.rocking-chair {

    clear: both;
    margin: @article-spacing 0;

    .pictures {
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        border: @article-border-width white solid;
        border-radius: @article-radius;
        width: 2*@article-radius;
        height: 2*@article-radius;

        background-size: cover;
        background-position: center center;
    }

    ul.attributes {
        display: inline-block;
        margin: 0;
        margin-top: 2*@article-attribute-spacing;
        padding: 0;
        list-style: none;
        max-width: 50%;

        &.attributes-left {
            float: right;
            right: 50%;
            text-align: right;
            margin-right: @article-attribute-spacing;
        }

        &.attributes-right {
            float: left;
            left: 50%;
            text-align: left;
            margin-left: @article-attribute-spacing;
        }

        li {
            display: block;
            margin-bottom: @article-attribute-spacing;
        }

        .rocking-chair-name,
        .rocking-chair-social{
            font-size: 2.3rem;
            line-height: 1em;
        }

        .rocking-chair-name {
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .rocking-chair-social {
            a {
                color: @yellow-dark;
                text-decoration: none;

                &:hover {
                    color: @grey;
                    text-decoration: none;
                }
            }
        }

        .attribute {
            display: inline-block;
        }

        .attribute-name {
            font-size: 0.5rem;
            background-color: @yellow-dark;
            color: @yellow;
            padding: 0.2em 0.4em;
            margin-top: -0.2em;
            z-index: -1;
        }

        .attribute-value {
            font-size: 1.5rem;
            line-height: 1em;
        }

        .attribute-links {
            position: absolute;
            display: inline-block;
            vertical-align: top;
            font-size: 0.6rem;

            a {
                color: @yellow-dark;

                &:hover {
                    color: @grey;
                }
            }
        }

        &.attributes-left .attribute-links {
            right: 100%;
            padding-right: 0.5em;
        }

        &.attributes-right .attribute-links {
            left: 100%;
            padding-left: 0.5em;
        }
    }
}

// FOOTER


footer {
    background-image: radial-gradient(
            ellipse closest-side,
            @white 0%,
            @white 99%,
            transparent 99%,
            transparent);
    background-position: center top;
    background-size: 120% 180%;
    background-repeat: no-repeat;
    margin-top: @footer-spacing;
    font-size: 0.5rem;

    div.footer-content {
        width: @main-width;
        margin-left: auto;
        margin-right: auto;
        padding-top: @footer-spacing;
        padding-bottom: @footer-spacing/2;
        text-align: center;
    }

    a.hexagonal-link {
        background: none;
    }
}
