/**
 * Generate a circular menu of n (odd) items using the following rules
 * 1. Each item has a radius r (nav-item-radius: 30px)
 * 2. Each item has its center distant from the next one by 4*r (i.e. there is enough room to fit another item between 2
 *    existing ones)
 * 3. The currently selected item has a bigger radius r0 (nav-item-active-radius: 40px). It doesn't affect the
 *    center-to-center distance to its neighbours
 */
@import 'elements/variables';

// macros

/**
 * @n number of menu items
 * @i index of current item, between 0 and n-1
 * @r standard item radius
 */
.variables-setup(@n, @i, @r) {
    // common variables
    // center-to-center distance between two adjacent items
    @d: 4*@r;
    // angle between two adjacent items
    @alpha: 2*pi() / @n;
    // menu radius
    @R: @d / (2 * tan(@alpha/2));
    // number of items on each side of the menu
    @k: (@n - 1) / 2;

    // position with respect to the center of the menu
    @x: @R * cos(@i*@alpha - pi()/2);
    @y: @R * sin(@i*@alpha - pi()/2);

    // offset with respect to the top of the menu
    @y_k: @R * sin(@k*@alpha - pi()/2);
    @offset-y: @R;
}

/**
 * @n number of menu items
 */
.nav-setup(@n) {
    .variables-setup(@n, 0, @nav-item-radius);
    @height: @offset-y - @y;

    margin: @paginate-spacing + max(0, @y_k - @R + @nav-item-radius) 0
        @paginate-spacing + @nav-item-active-radius 0;

    @media (max-width: @screen-small-max) {
        line-height: 1.67em;
    }
    @media (min-width: @screen-medium-min) {
        min-height: @height;

        &:before {
            display: block;
            content: "";
            width: 2*@R;
            height: 2*@R;
            border-radius: @R;
            border: @body-background-vertical-width solid @white;
            position: absolute;
            left: 50%;
            margin-left: -@R;
        }
    }
}

/**
 * @n number of menu items
 * @i index of current item, between 0 and n-1
 */
.nav-item-position(@n, @i) {
    .variables-setup(@n, @i, @nav-item-radius);

    @media (min-width: @screen-medium-min) {
        & when (@i = 0) {
            top: @offset-y - @y - @nav-item-active-radius;
        }

        & when (@i > 0) {
            top: @offset-y - @y - @nav-item-radius;
        }

        // right side
        & when (@i <= @k) {
            left: 50%;

            & when (@i = 0) {
                margin-left: @x - @nav-item-active-radius;
            }
            & when (@i > 0) {
                margin-left: @x - @nav-item-radius;
            }
            & .nav-item-caption {
                padding-left: 5px;
            }
        }

        // left side
        & when (@i > @k) {
            margin-right: 50%;
            right: abs(@x + @nav-item-radius);

            & .nav-item-caption {
                float: left;
                padding-right: 5px;
            }

            &.nav-item-search {
                text-align: right;
                .search-box {
                    text-align: right;
                }
            }
        }

    }
}

.nav-item-active() {
    @media (min-width: @screen-medium-min) {
        font-size: 1rem;
        color: @grey;

        & .nav-item-picture {
            background-color: @white;
            width: 2*@nav-item-active-radius;
            height: 2*@nav-item-active-radius;
            border-radius: @nav-item-active-radius;
            color: @grey;
            line-height: 2*@nav-item-active-radius - 2*@body-background-vertical-width;

            img {
                max-width: 2*@nav-item-radius - 2*@body-background-vertical-width;
                max-height: 2*@nav-item-radius - 2*@body-background-vertical-width;
            }
        }
    }
}

// styles

.nav {
    position: relative;

    @media (max-width: @screen-small-max) {
        display: block;
        text-align: center;
    }
    @media (min-width: @screen-medium-min) {
        font-size: 0.7rem;
    }

    .nav-item {
        @media (max-width: @screen-small-max) {
            display: none;
        }
        @media (min-width: @screen-medium-min) {
            position: absolute;
        }
    }
    .nav-item-caption {
        @media (max-width: @screen-small-max) {
        }
        @media (min-width: @screen-medium-min) {
            display: inline-block;
            padding-top: 20px;
        }
    }
    .nav-item-picture {
        text-align: center;
        color: @yellow-dark;
        cursor: pointer;
        font-size: inherit;
        line-height: 2*@nav-item-radius - 2*@body-background-vertical-width;

        @media (max-width: @screen-small-max) {
            background: none;
            border: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 9999;

            &:not(button) {
                display: none;
            }
        }
        @media (min-width: @screen-medium-min) {
            display: inline-block;
            width: 2*@nav-item-radius;
            height: 2*@nav-item-radius;
            border-radius: @nav-item-radius;
            border: @body-background-vertical-width solid @white;
            background-color: @yellow;
        }

        img {
            vertical-align: middle;
            max-width: 2*@nav-item-radius - 6*@body-background-vertical-width;
            max-height: 2*@nav-item-radius - 6*@body-background-vertical-width;
        }
    }
    .nav-item:hover .nav-item-picture,
    .nav-item-picture:active,
    .nav-item-picture:focus {
        background-color: white;
        color: @grey;
    }
    .nav-item:hover .search-box {
        border-bottom: 2px solid @white;
    }

    .nav-item-search {
        .search-box {
            border: none;
            font-family: 'Static';
            font-size: inherit;
            background: transparent;
            &:focus {
                background-color: @white;
            }

            @media (max-width: @screen-small-max) {
                width: 100%;
                text-align: center;
            }
        }
        .nav-item-caption {

            @media (max-width: @screen-small-max) {
                margin-right: 3/2 * @nav-item-radius;
            }
        }

        &.nav-item-1-3 .search-box {
            background-position: 0 35px;
        }
    }

    // positionning
    &.nav-7 { .nav-setup(7); }
    .nav-item-1-7 { .nav-item-position(7, 0); .nav-item-active(); }
    .nav-item-2-7 { .nav-item-position(7, 1); }
    .nav-item-3-7 { .nav-item-position(7, 2); }
    .nav-item-4-7 { .nav-item-position(7, 3); }
    .nav-item-5-7 { .nav-item-position(7, 4); }
    .nav-item-6-7 { .nav-item-position(7, 5); }
    .nav-item-7-7 { .nav-item-position(7, 6); }

    // Mobile behaviour
    .nav-toggle {
        @media (max-width: @screen-small-max) {
            display: inline-block;
            background-color: @white;
            width: 2*@nav-item-radius;
            height: 2*@nav-item-radius;
            border-radius: @nav-item-radius;
            line-height: 2*@nav-item-radius;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
        }
        @media (min-width: @screen-medium-min) {
            display: none;
        }
    }

    @media (max-width: @screen-small-max) {
        &.nav-open {
            background-image: radial-gradient(
                    ellipse 70% @nav-item-radius at center top 2*@nav-item-radius,
                    @white 0%, @white 99%, transparent 99%, transparent),
            linear-gradient(to bottom,
                    transparent, transparent 1.5*@nav-item-radius,
                    white 1.5*@nav-item-radius, white 55%,
                    transparent 55%, transparent),
            linear-gradient(to top,
                    transparent, transparent @nav-item-radius,
                    white @nav-item-radius, white 55%,
                    transparent 55%, transparent),
            radial-gradient(
                    ellipse 70% @nav-item-radius at center bottom @nav-item-radius,
                    @white 0%, @white 99%, transparent 99%, transparent);
            background-repeat: no-repeat;
            padding: 0 1/2*@nav-item-radius @nav-item-radius 1/2*@nav-item-radius;

            .nav-item {
                display: block;
            }
            .nav-toggle {
                display: block;
            }
        }
    }
}
