/**
 * Generate a circular menu of n (odd) items using the following rules
 * 1. Each item has a radius r (nav-item-radius: 30px)
 * 2. Each item has its center distant from the next one by 4*r (i.e. there is enough room to fit another item between 2
 *    existing ones)
 * 3. The currently selected item has a bigger radius r0 (nav-item-active-radius: 40px). It doesn't affect the
 *    center-to-center distance to its neighbours
 */
/**
 * @n number of menu items
 * @i index of current item, between 0 and n-1
 * @r standard item radius
 */
/**
 * @n number of menu items
 */
/**
 * @n number of menu items
 * @i index of current item, between 0 and n-1
 */
.nav {
  position: relative;
}
@media (max-width: 599px) {
  .nav {
    display: block;
    text-align: center;
  }
}
@media (min-width: 600px) {
  .nav {
    font-size: 0.7rem;
  }
}
@media (max-width: 599px) {
  .nav .nav-item {
    display: none;
  }
}
@media (min-width: 600px) {
  .nav .nav-item {
    position: absolute;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-caption {
    display: inline-block;
    padding-top: 20px;
  }
}
.nav .nav-item-picture {
  text-align: center;
  color: #7f8000;
  cursor: pointer;
  font-size: inherit;
  line-height: 50px;
}
@media (max-width: 599px) {
  .nav .nav-item-picture {
    background: none;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  .nav .nav-item-picture:not(button) {
    display: none;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-picture {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 5px solid #ffffff;
    background-color: yellow;
  }
}
.nav .nav-item-picture img {
  vertical-align: middle;
  max-width: 30px;
  max-height: 30px;
}
.nav .nav-item-picture .normal {
  display: none;
}
.nav .nav-item-picture .dimmed {
  display: inline;
}
.nav .nav-item:hover .nav-item-picture,
.nav .nav-item-picture:active,
.nav .nav-item-picture:focus {
  background-color: white;
  color: #333333;
}
.nav .nav-item:hover .nav-item-picture .normal,
.nav .nav-item-picture:active .normal,
.nav .nav-item-picture:focus .normal {
  display: inline;
}
.nav .nav-item:hover .nav-item-picture .dimmed,
.nav .nav-item-picture:active .dimmed,
.nav .nav-item-picture:focus .dimmed {
  display: none;
}
.nav .nav-item:hover .search-box {
  border-bottom: 2px solid #ffffff;
}
.nav .nav-item-search .search-box {
  border: none;
  font-family: 'Static';
  font-size: inherit;
  background: transparent;
}
.nav .nav-item-search .search-box:focus {
  background-color: #ffffff;
}
@media (max-width: 599px) {
  .nav .nav-item-search .search-box {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 599px) {
  .nav .nav-item-search .nav-item-caption {
    margin-right: 45px;
  }
}
.nav .nav-item-search.nav-item-1-3 .search-box {
  background-position: 0 35px;
}
.nav.nav-9 {
  margin: 80.05841024px 0 100px 0;
}
@media (max-width: 599px) {
  .nav.nav-9 {
    line-height: 1.67em;
  }
}
@media (min-width: 600px) {
  .nav.nav-9 {
    min-height: 329.69729033px;
  }
  .nav.nav-9:before {
    display: block;
    content: "";
    width: 329.69729033px;
    height: 329.69729033px;
    border-radius: 164.84864517px;
    border: 5px solid #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -164.84864517px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-1-9 {
    top: 289.69729033px;
    left: 50%;
    margin-left: -40px;
  }
  .nav .nav-item-1-9 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-1-9 {
    font-size: 1rem;
    color: #333333;
  }
  .nav .nav-item-1-9 .nav-item-picture {
    background-color: #ffffff;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    color: #333333;
    line-height: 70px;
  }
  .nav .nav-item-1-9 .nav-item-picture img {
    max-width: 50px;
    max-height: 50px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-2-9 {
    top: 261.13003375px;
    left: 50%;
    margin-left: 75.96266659px;
  }
  .nav .nav-item-2-9 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-3-9 {
    top: 163.47431199px;
    left: 50%;
    margin-left: 132.34422383px;
  }
  .nav .nav-item-3-9 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-4-9 {
    top: 52.42432258px;
    left: 50%;
    margin-left: 112.76311449px;
  }
  .nav .nav-item-4-9 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-5-9 {
    top: -20.05841024px;
    left: 50%;
    margin-left: 26.38155725px;
  }
  .nav .nav-item-5-9 .nav-item-caption {
    padding-left: 5px;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-6-9 {
    top: -20.05841024px;
    margin-right: 50%;
    right: 26.38155725px;
  }
  .nav .nav-item-6-9 .nav-item-caption {
    float: left;
    padding-right: 5px;
  }
  .nav .nav-item-6-9.nav-item-search {
    text-align: right;
  }
  .nav .nav-item-6-9.nav-item-search .search-box {
    text-align: right;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-7-9 {
    top: 52.42432258px;
    margin-right: 50%;
    right: 112.76311449px;
  }
  .nav .nav-item-7-9 .nav-item-caption {
    float: left;
    padding-right: 5px;
  }
  .nav .nav-item-7-9.nav-item-search {
    text-align: right;
  }
  .nav .nav-item-7-9.nav-item-search .search-box {
    text-align: right;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-8-9 {
    top: 163.47431199px;
    margin-right: 50%;
    right: 132.34422383px;
  }
  .nav .nav-item-8-9 .nav-item-caption {
    float: left;
    padding-right: 5px;
  }
  .nav .nav-item-8-9.nav-item-search {
    text-align: right;
  }
  .nav .nav-item-8-9.nav-item-search .search-box {
    text-align: right;
  }
}
@media (min-width: 600px) {
  .nav .nav-item-9-9 {
    top: 261.13003375px;
    margin-right: 50%;
    right: 75.96266659px;
  }
  .nav .nav-item-9-9 .nav-item-caption {
    float: left;
    padding-right: 5px;
  }
  .nav .nav-item-9-9.nav-item-search {
    text-align: right;
  }
  .nav .nav-item-9-9.nav-item-search .search-box {
    text-align: right;
  }
}
@media (max-width: 599px) {
  .nav .nav-toggle {
    display: inline-block;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
  }
}
@media (min-width: 600px) {
  .nav .nav-toggle {
    display: none;
  }
}
@media (max-width: 599px) {
  .nav.nav-open {
    background-image: radial-gradient(ellipse 70% 30px at center top 60px, #ffffff 0%, #ffffff 99%, transparent 99%, transparent), linear-gradient(to bottom, transparent, transparent 45px, white 45px, white 55%, transparent 55%, transparent), linear-gradient(to top, transparent, transparent 30px, white 30px, white 55%, transparent 55%, transparent), radial-gradient(ellipse 70% 30px at center bottom 30px, #ffffff 0%, #ffffff 99%, transparent 99%, transparent);
    background-repeat: no-repeat;
    padding: 0 15px 30px 15px;
  }
  .nav.nav-open .nav-item {
    display: block;
  }
  .nav.nav-open .nav-toggle {
    display: block;
  }
}
