@import 'elements/elements';
@import 'elements/utilities';
@import 'elements/attributes';

.single-title {
    .round-item-large;
    .centered;

    .unknown {
        font-size: 5rem;
    }
}

.single-attributes {
    .attributes-container;
}

.single-related {
    .round-item-list;
    margin-top: @paginate-spacing;
    margin-bottom: @paginate-spacing;
}