@import '../bootstrap/less/variables';

// colors
@grey: #333333;
@white: #ffffff;
@yellow: yellow;
@yellow-dark: darken(@yellow, 25%);
@yellow-darker: darken(@yellow, 30%);
@yellow-light: lighten(@yellow, 15%);
@yellow-lighter: lighten(@yellow, 30%);

// max page width
@main-width: 900px;

@body-font-size: 32px;
@body-background-vertical-width: 5px;


@paginate-spacing: 60px;
@paginate-radius: 60px;

@article-spacing: 120px;
@article-radius: 300px;
@article-border-width: 30px;
@article-attribute-spacing: 15px;

@footer-spacing: 60px;

@carousel-control-spacing: 120px;
